@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #FAFAF8;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #D6D3CE;
    border-radius: 20px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #A8A29E;
  }
}
